@import './imports.scss';

:root {
  --blue: #042532;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #c58a52;
  --yellow: #bfa680;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #747474;
  --gray-dark: #232321;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --lime: #afd275;;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --accept-invite: #28a745;
  --decline-invite:#E85D75;
  --maybe-invite:  #4281A4;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}




*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  margin: 0;
  overflow: hidden;
  position: fixed;
  -webkit-text-size-adjust: 100%;
  padding: env(safe-area-inset-top)
            env(safe-area-inset-left)
            env(safe-area-inset-bottom)
            env(safe-area-inset-right);
}

body {
  max-height: 100vh;
}

html > * {
  box-sizing: border-box;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  touch-action: manipulation;
}


a {
  text-decoration: none;
}

.btn-dark {
  @extend %btn-dark;
}

.btn-light {
  @extend %btn-light;
}


ul {
  list-style: none;
}

.invite-list-item-container {
  margin-top: 15px;
}

.invite-list-decline-light {
  @extend %invite-list-light;
  border-left: 2px solid var(--decline-invite);
}


.invite-list-accept-light {
  @extend %invite-list-light;
  border-left: 2px solid var(--accept-invite);
}


.invite-list-maybe-light {
  @extend %invite-list-light;
  border-left: 2px solid var(--maybe-invite);
}


.invite-list-decline-dark {
  @extend %invite-list-dark;
  border-left: 2px solid var(--decline-invite);
}


.invite-list-accept-dark {
  @extend %invite-list-dark;
  border-left: 2px solid var(--accept-invite);
}


.invite-list-maybe-dark {
  @extend %invite-list-dark;
  border-left: 2px solid var(--maybe-invite);
}

.centerMonthGroup {
  position: relative;
  top: 20px;
}

.currentMonth {
  color: var(--warning);
  font-size: 2.4rem;
}

.currentYear {
  color: var(--warning);
  font-size: 1.8rem;
}


.notThisMonth {
    color: var(--dark);
    background:repeating-linear-gradient(
      45deg,
      var(--dark) 10px,
      var(--light) 10px,
      var(--secondary) 10px,
    );
}

.selectedDay {
  box-shadow: -1px -1px 2px 2px var(--primary);
  transition: box-shadow 0.3s linear;
  margin: 0.5em;
  // border: 1px solid var(--primary);
  // transition : border 50000ms ease-out 1px solid var(--white);
}

.isToday {
  background-color: var(--warning);
  color: var(--light);
}

.day {
  width: 100vw;
}

.day-container-light {
  @extend %day-container;
  background-color: var(--light);
}

.day-container-dark {
  @extend %day-container;
  background-color: var(--dark);
}

.required-field {
  color: var(--decline-invite) !important;
  & > *{
  color: var(--decline-invite) !important;
}}

.error-field {
  color: var(--decline-invite);
}

.hour {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  min-height: 120px;
  border-top: 1px dashed var(--warning);
  color: var(--warning);
}

.hour-time {
  position: absolute;
  top: 0;
  left: 0;
}

.max-width {
  width: 100%;
}

.full-width {
  width: 100vw;
}
.modal {
  width: 100vw;
}

.modal-container {
  overflow-y: auto;
  overflow-x: hidden;

  background-color: var(--light);
  height: 310px;
  .modal-container {
    .modal-header{}
    .modal-body {
      width: 80%;
      overflow: auto;
  // height:80%;
    }
    .modal-footer {}
  }
}

.accordian {
  .accordian-item {
    line-height: 3rem;
    border: 1px solid var(--dark);
    border-radius: 2%;
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    transition: height 300s linear;
  	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;


    %accordian-item-title {
      width: 100%;
      padding: 0 1rem;
      margin: 0;
    //   background-image: linear-gradient(
    // rgba(255, 255, 255, 1) 60%,
    // rgba(255, 255, 255, 0) 100%
    // );
    }

    .accordian-item-title-closed {
      @extend %accordian-item-title;
    }
    .accordian-item-title-open {
      @extend %accordian-item-title;
      @extend %base-color;
    }

    .accordian-item-btn {

    }

    .accordian-item-body {
      overflow-y: auto;
      max-height: 500px;
      transition: opacity 0.3s linear;
    }
  }
}

.pill {
  border: 1ps solid var(--dark);
  border-radius: 2%;
}

.smaller {
  display: inline-block;
  transform: scale(0.5);
}

.decrement {
  @extend %angle-line-down
}

.events-map-container {
  min-height: 250px;
  min-width: 250px;
}

.event-items {
  max-height: 300px;
  overflow-y: auto;
}

.event-items-item {
  position: relative;
  // border-top: 1px solid var(--dark);
  -webkit-box-shadow: 0 8px 6px -6px var(--dark);
  -moz-box-shadow: 0 8px 6px -6px var(--dark);
       box-shadow: 0 8px 6px -6px var(--dark);
}

.event-input-group {
  width: 100%;
  padding:1rem 0;
  margin: 0;
  box-shadow: 0 8px 47px -6px var(--dark);

}

.events-remove-item {
  position: absolute;
  right: 0;
}

.event-form {
  width: 100vw;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 310px;
}


.home-page {
  width: 100vw;
  height: 700px;
}

.event-page {
  width: 100vw;
  padding: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 700px;
}

.event-page-heading {
  background-color: var(--light);
}

.event-page-title {
  letter-spacing: 0.005rem;
}

.event-page-subheading {
  font-size: 1.1rem;
  // letter-spacing: 1.2px;
  padding:0;
}

.bg-warn > * {
  background-color: var(--warning) !important;
}

.bg-info > * {
  background-color: var(--info) !important;
}

.location-info-text {
  color: var(--green) ;

}


.invite-list {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  width: 100%;
}

.invite-list-item {
  position: absolute;
  padding-left: 12px;
  color: var(--light);
  border: 1px solid var(--light);
  min-width: 200px;
}


.cal-navbar-light {
  background-color: var(--light);
  padding:0 10px;
}

.cal-navbar-dark {
  background-color: var(--dark);
  padding:0 10px;
}

.day {
  background-color: var(--light);
}

.cal-toolbar-input {
  display: inline-block;
  width: 33%;
}


.cal-day {
  border: 1ps solid transparent;
}

.cal-day-prev {
  @extend %angle-line-left;
  width: 20px;
  position: absolute;
  left: 0;
}

.cal-day-next {
  @extend %angle-line-right;
  width: 20px;
  position: absolute;
  right: 0;
}


.cal-invites-item {
  @extend %badge;
  top: -10px;
  right: 0;
}

.cal-day-link {
  position: relative;
  line-height: 2rem;
}

.empty-state {
  min-width: 100%;
  // min-height: 350px;

  .logo-placeholder {
    position: relative;
    fill: var(--secondary);
    color: var(--secondary);
    height: 290px;

    .logo {
      position: absolute;
      padding-top: 50px;
      top: calc(50% - 50px);
      left: calc(50% - 50px);
      width: 100px;
      height: 100px;
      -webkit-filter: drop-shadow( 3px 3px 2px var(--dark));
      filter: drop-shadow( 3px 3px 2px var(--dark));
    }
  }
}

img.logo {
  -webkit-filter: drop-shadow( 3px 3px 2px var(--dark));
  filter: drop-shadow( 3px 3px 2px var(--dark));
}

.sidebar-page {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);

  .sidebar-tab-section {
    margin-bottom: 1rem ;


    .sidebar-tab {
      @extend %tab;
    }

    .sidebar-tab-selected {
      @extend %tab-selected;
    }
  }

  .sidebar-section {
    margin: 0 auto;

    .sidebar-section-heading {
      color: var(--warning);
    }

    .sidebar-article {
      line-height: 3rem;
      overflow: auto;
      border: 1px solid var(--warning);
      border-radius: 2%;
      width: 95%;
      max-height: 80vh;
      padding: 5px 20px;
      margin: 10px 0;
      background-color: var(--light);
    }
  }


  .sidebar-rsvp {
    max-height: 500px;
  }

}

.sidebar-invites-light {
  @extend %invite-list-light;
  color: var(--dark);
  padding: 10px;
  border-left: 1px solid var(--warning);
  // -webkit-box-shadow: 0 8px 6px -6px var(--dark);
  // -moz-box-shadow: 0 8px 6px -6px var(--dark);
  //      box-shadow: 0 8px 6px -6px var(--dark);

}

.sidebar-invites-dark {
  @extend %invite-list-dark;
  color: var(--dark);
  padding: 10px;
  border-left: 1px solid var(--warning);
  // -webkit-box-shadow: 0 8px 6px -6px var(--dark);
  // -moz-box-shadow: 0 8px 6px -6px var(--dark);
  //      box-shadow: 0 8px 6px -6px var(--dark);

}

.sidebar-items-list {
  color: var(--light);
}


.invite-alerts-container {
  position: relative;
  bottom: 100px;
  width: 100%;
}

.invite-alert {
  position: relative;
  border: 1px solid var(--warning);
  border-radius: 2%;
  width: 95%;
  // min-height: 155px;
  padding: 5px 20px;
  margin: 0 auto;
  background: var(--dark);
  color: var(--light);
  line-height: 1.8rem;
}

.invite-alert-remove {
  position: absolute;
  top: 0;
  right: 10px;
  fill: var(--light);
  width: 20px;
}

.event-page-title {
  color: var(--warning);
}

.event-comments-message {
  position: relative;
}

.event-comment-name {
  position: absolute;
  top: 33px;
}

.event-comments-message-remove {
  position: absolute;
  left: 0;
  fill: var(--light);
}


.events-messages-container {
  padding-top:10px;
  max-height: 300px;
  overflow: auto;
}

.event-comments-message-container {
  width: 100%;
}

.event-comment-textbox-container {
  border-top:1px solid var(--dark);
}

%speech-bubble-left {
  position: relative;
  border-radius: .4em;
  width: 80%;
  padding: 0 12px;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -20px;
  }
}


%speech-bubble-right {
  position: relative;
  border-radius: .4em;
  width: 80%;
  padding: 0 12px;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-right: -20px;
  }
}

.me {
  @extend %speech-bubble-right;
  background-color: var(--teal);
  &:after {
    border-left-color: var(--teal);
  }
}

.other {
  @extend %speech-bubble-left;
  background-color: var(--cyan);
  &:after {
    border-right-color: var(--cyan);
  }
}

.comments-message-container {
  width: 100%;
  resize: none;
}

.comments-message-btn-dark {
  @extend %btn-dark;
  width: 100%;
}


.comments-message-btn-light {
  @extend %btn-light;
  width: 100%;
}



@media screen and (min-width: 600px) and (max-width: 899px) {



}

@media screen and (min-width: 900px) and (max-width: 1199px) {


}

@media screen and (min-width: 1200px) and (max-width: 1399px) {

}

@media screen and (min-width: 1400px) {

}
