@import './types';
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
:root {
  --blue: #042532;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #c58a52;
  --yellow: #bfa680;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #747474;
  --gray-dark: #232321;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --accept-invite: #28a745;
  --decline-invite:#E85D75;
  --maybe-invite:  #4281A4;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}




*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  margin: 0;
  overflow: hidden;
  position: fixed;
  -webkit-text-size-adjust: 100%;
}

body {
  max-height: 100vh;
}

html > * {
  box-sizing: border-box;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


a {
  text-decoration: none;
}


ul {
  list-style: none;
}

%invite-list {
  line-height: 2rem;
  padding-left: 30px;
  margin-bottom: 30px;
}

%base-color {
  background-color: var(--dark);
  > * {
    color: var(--light);
    fill: var(--light);
  }
}

.btn {
  border: 1px solid var(--dark) !important;
  background-color: var(--light) !important;
  color: var(--dark) !important;
}

.invite-list-decline {
  @extend %invite-list;
  border-left: 2px solid var(--decline-invite);
}


.invite-list-accept {
  @extend %invite-list;
  border-left: 2px solid var(--accept-invite);
}


.invite-list-maybe {
  @extend %invite-list;
  border-left: 2px solid var(--maybe-invite);
}

.centerMonthGroup {
  position: relative;
  top: 20px;
}

.currentMonth {
  color: var(--warning);
  font-size: 2.4rem;
}


.notThisMonth {
    color: var(--dark);
    background:repeating-linear-gradient(
      45deg,
      var(--dark) 10px,
      var(--light) 10px,
      var(--secondary) 10px,
    );
}

.selectedDay {
  border: 1px solid var(--primary);
}

.isToday {
  background-color: var(--warning);
  color: var(--light);
}

// .selectedWeek {
//   background-color: var(--yellow);
// }

.day {
  width: 100vw;
}

.day-container {
  height: 360px;
  overflow: auto;
}

.required-field > *{
  color: var(--decline-invite) !important;
}

.error-field {
  color: var(--decline-invite);
}

.hour {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  min-height: 120px;
  border-top: 1px dashed var(--dark);
}

.hour-time {
  position: absolute;
  top: 0;
  left: 0;
}

.max-width {
  width: 100%;
}

.full-width {
  width: 100vw;
}
.modal {
  width: 100vw;
}

.modal-container {
  overflow-y: auto;
  overflow-x: hidden;

  background-color: var(--light);
  height: 310px;
  .modal-container {
    .modal-header{}
    .modal-body {
      width: 80%;
      overflow: auto;
  // height:80%;
    }
    .modal-footer {}
  }
}

.accordian {
  .accordian-item {
    line-height: 3rem;
    border: 1px solid var(--dark);
    border-radius: 2%;
    margin-top: 10px;
    width: 100%;
    padding: 5px;

    %accordian-item-title {
      width: 100%;
      padding: 0 1rem;
      margin: 0;
    //   background-image: linear-gradient(
    // rgba(255, 255, 255, 1) 60%,
    // rgba(255, 255, 255, 0) 100%
    // );
    }

    .accordian-item-title-closed {
      @extend %accordian-item-title;
    }
    .accordian-item-title-open {
      @extend %accordian-item-title;
      @extend %base-color;
    }

    .accordian-item-btn {

    }

    .accordian-item-body {
      overflow-y: auto;
      max-height: 500px;
    }
  }
}

.pill {
  border: 1ps solid var(--dark);
  border-radius: 2%;
}

.smaller {
  display: inline-block;
  transform: scale(0.5);
}

.decrement {
  @extend %angle-line-down
}

.events-map-container {
  min-height: 250px;
  min-width: 250px;
}

.event-items {
  max-height: 300px;
  overflow-y: auto;
}

.event-items-item {
  position: relative;
  border-top: 1px solid var(--dark);
}

.event-input-group {
  width: 100%;
  padding:1rem 0;
  margin: 0;
  background-image: linear-gradient(
rgba(255, 255, 255, 1) 60%,
rgba(255, 255, 255, 0) 100%
);
}

.events-remove-item {
  position: absolute;
  right: 0;
}

.event-form {
  width: 100vw;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 310px;
}

.profile-page,
.event-page {
  width: 100vw;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 700px;
}

.bg-warn > * {
  background-color: var(--warning) !important;
}

.bg-info > * {
  background-color: var(--info) !important;
}

.location-info-text {
  color: var(--green) ;

}


.invite-list {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  width: 100%
}

.invite-list-item {
  position: absolute;
  padding-left: 12px;
  color: var(--light);
  border: 1px solid var(--light);
  min-width: 200px;
}


.cal-toolbar-input {
  display: inline-block;
  width: 33%;
}

.cal-day-prev {
  @extend %angle-line-left;
  width: 20px;
  position: absolute;
  left: 0;
}

.cal-day-next {
  @extend %angle-line-right;
  width: 20px;
  position: absolute;
  right: 0;
}


.cal-invites-item {
  @extend %badge;
  top: -10px;
  right: 0;
}

.cal-day-link {
  position: relative;
  line-height: 2rem;
}


.logo-placeholder {
  width: 100%;
  // height: 100%;
  fill: var(--secondary);
  color: var(--secondary);
}

.sidebar-page {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);

.sidebar-tab-section {
  margin-bottom: 1rem ;


  .sidebar-tab {
    @extend %tab;
  }

  .sidebar-tab-selected {
    @extend %tab-selected;
  }
}

.sidebar-section {
  margin: 0 auto;

  .sidebar-section-heading {
    color: var(--warning);
  }

  .sidebar-article {
    line-height: 3rem;
    overflow: auto;
    border: 1px solid var(--warning);
    border-radius: 2%;
    width: 95%;
    max-height: 80vh;
    padding: 5px 20px;
    margin: 10px 0;
  }
}

}

.sidebar-invites {
  color: var(--white);
  padding: 10px 0;
  border-top: 1px solid var(--warning);
}

.sidebar-items-list {
  color: var(--light);
}


.invite-alerts-container {
  position: relative;
  bottom: 100px;
  width: 100%;
}

.invite-alert {
  position: relative;
  border: 1px solid var(--warning);
  border-radius: 2%;
  width: 95%;
  // min-height: 155px;
  padding: 5px 20px;
  margin: 0 auto;
  background: var(--dark);
  color: var(--light);
  line-height: 1.8rem;
}

.invite-alert-remove {
  position: absolute;
  top: 0;
  right: 10px;
  fill: var(--light);
  width: 20px;
}

@media screen and (min-width: 600px) and (max-width: 899px) {



}

@media screen and (min-width: 900px) and (max-width: 1199px) {


}

@media screen and (min-width: 1200px) and (max-width: 1399px) {

}

@media screen and (min-width: 1400px) {

}
