@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
:root {
  --blue: #042532;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #c58a52;
  --yellow: #bfa680;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #747474;
  --gray-dark: #232321;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --accept-invite: #28a745;
  --decline-invite: #dc3545;
  --maybe-invite: #c58a52;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  margin: 0;
  overflow: hidden;
  position: fixed;
  -webkit-text-size-adjust: 100%;
}

body {
  max-height: 100vh;
}

html > * {
  box-sizing: border-box;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


a {
  text-decoration: none;
}


ul {
  list-style: none;
}

%invite-list {
  line-height: 2rem;
  padding-left: 30px;
  margin-bottom: 30px;
}

.invite-list-decline {
  @extend %invite-list;
  border-left: 2px solid var(--decline-invite);
}


.invite-list-accept {
  @extend %invite-list;
  border-left: 2px solid var(--accept-invite);
}


.invite-list-maybe {
  @extend %invite-list;
  border-left: 2px solid var(--maybe-invite);
}

.centerMonthGroup {
  position: relative;
  top: 20px;
}

.currentMonth {
  color: var(--orange);
  font-size: 2.4rem;
}


.notThisMonth {
  background-color:var(--yellow);
}

.selectedDay {
  border: 1px solid var(--red);
}

.isToday {
  background-color: var(--primary);
  color: var(--white);
}

.selectedWeek {
  background-color: var(--yellow);
}

.day {
  width: 100vw;
}

.day-container {
  height: 360px;
  overflow: auto;
}

.required-field {
  color: var(--red);
}

.error-field {
  color: var(--red);
}

.hour {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  min-height: 120px;
  border-top: 1px dashed var(--blue);
}

.hour-time {
  position: absolute;
  top: 0;
  left: 0;
}

.max-width {
  width: 100%;
}

.full-width {
  width: 100vw;
}
.modal {
  width: 100vw;
}

.modal-container {
  overflow-y: auto;
  overflow-x: hidden;

  background-color: var(--white);
  height: 310px;
  .modal-container {
    .modal-header{}
    .modal-body {
      width: 80%;
      overflow: auto;
  // height:80%;
    }
    .modal-footer {}
  }
}

.accordian {
  .accordian-item {
    line-height: 3rem;
    border: 1px solid var(--blue);
    border-radius: 2%;
    margin-top: 10px;
    width: 100%;
    padding: 5px;

    .accordian-item-title {
      width: 100%;
      padding: 0 1rem;
      margin: 0;
      background-image: linear-gradient(
    rgba(255, 255, 255, 1) 60%,
    rgba(255, 255, 255, 0) 100%
    );
    }

    .accordian-item-btn > * {
    }

    .accordian-item-body {
      overflow-y: auto;
      max-height: 500px;
    }
  }
}

.pill {
  border: 1ps solid var(--blue);
  border-radius: 2%;
}

.smaller {
  display: inline-block;
  transform: scale(0.5);
}

.decrement {
  transform: rotate(180deg);
}

.event-items {
  max-height: 300px;
  overflow-y: auto;
}

.event-items-item {
  border-top: 1px solid var(--blue);
}

.event-input-group {
  width: 100%;
  padding:1rem 0;
  margin: 0;
  background-image: linear-gradient(
rgba(255, 255, 255, 1) 60%,
rgba(255, 255, 255, 0) 100%
);
}

.event-form {
  width: 100vw;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 310px;
}

.profile-page,
.event-page {
  width: 100vw;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 700px;
}

.bg-warn > * {
  background-color: var(--warning) !important;
}

.bg-info > * {
  background-color: var(--info) !important;
}

.location-info-text {
  color: var(--green) ;

}


.invite-list {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  width: 100%
}

.invite-list-item {
  position: absolute;
  padding-left: 12px;
  color: var(--white);
  border: 1px solid var(--white);
  min-width: 200px;
}


.cal-toolbar-input {
  display: inline-block;
  width: 33%;
}

.cal-invites-item {
  position: absolute;
  z-index: 100;
  top: -10px;
  right: 0;
  background-color: var(--white);
  color: var(--blue);
  border:1px solid var(--blue);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
}

.cal-day-link {
  position: relative;
  line-height: 2rem;
}

.sidebar-page {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);

  ul.sidebar {

    li.sidebar-link {
      line-height: 6rem;
      > a {
        color: var(--white);
        font-size: 3rem;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {



}

@media screen and (min-width: 900px) and (max-width: 1199px) {


}

@media screen and (min-width: 1200px) and (max-width: 1399px) {

}

@media screen and (min-width: 1400px) {

}
